starship.toml filter=catppuccin-normalize
gitconfig filter=catppuccin-normalize
atuin/config.toml filter=catppuccin-normalize
zellij/config.kdl filter=catppuccin-normalize
btop/btop.conf filter=catppuccin-normalize
k9s/config.yaml filter=catppuccin-normalize
tmux/tmux.conf filter=catppuccin-normalize
