<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>

    <key>ProgramArguments</key>
    <array>
        <string>__BINARY_PATH__</string>
        <string>-root</string>
        <string>__REPO_ROOT__</string>
        <string>-config</string>
        <string>__CONFIG_PATH__</string>
        <string>-no-inbox</string>
        <string>-verbose</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__REPO_ROOT__</string>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__STDOUT_LOG__</string>

    <key>StandardErrorPath</key>
    <string>__STDERR_LOG__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__PATH__</string>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
</dict>
</plist>
