---
name: Lint GitHub Actions
on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - .github/workflows/**.yml

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/actionlint@v1.7.7
